* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: aliceblue;
}

/* header */

header {
	color: cadetblue;
	font-size: 1.5rem;
	margin: 50px 0 20px 200px;
}

/* main */

.mainInput {
	margin: 0 5px 20px 200px;
	padding: 5px;
	width: 400px;
}

#addButton {
	background-color: cadetblue;
	border: none;
	color: #fff;
	cursor: pointer;
	padding: 7px;
	width: 60px;
}

ul {
	background-color: #fff;
	list-style-type: none;
	margin: 0 0 50px 200px;
	width: 470px;
}

li {
	border: 1px solid #333;
	border-bottom: none;
	height: 50px;
	padding: 20px 0 20px 50px;
	width: 470px;
}

li:last-child {
	border-bottom: 1px solid #333;
}

.checkbox {
	position: absolute;
	left: 220px;
}

.line {
	text-decoration: line-through;
}

.deleteButton {
	border: none;
	cursor: pointer;
	position: absolute;
	left: 600px;
}
